body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    background: black;
    color: white;
    padding: 20px;
}

main{
    padding: 20px;
}

h1{
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

